$yellow: #FFD93E;
$black: #000;
$grey: #858585;
$btn-color: #F7F7F7;
$common_text: 14px;
$common_text_lh: 16px;
$sub_text: 12px;
$sub_text_lh: 14px;
$desk_width: 1150px;
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
