.device {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__wrapper {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
    background-color: #FFF;
    background-image: url("../img/icon_temperature_2.svg");
    background-repeat: no-repeat;
    background-position: top 25px right 25px;
    background-size: 40px 40px;
    border-radius: 20px;
    font-weight: bold;
    position: relative;

    &_type_heat {
      background-image: url("../img/icon_temperature_2.svg");
    }

    &_type_light {
      background-image: url("../img/icon_sun.svg");
    }


  }

  &__name {
    margin: 0 0 6px;
    font-size: 27px;
    line-height: 31px;
  }

  &__state-text {
    font-weight: normal;
    margin: 0 0 20px;
  }

  &__value {
    @include indent(0, 0);
    font-size: 36px;
    line-height: 42px;
    position: absolute;
    top: 25px;
    right: 68px;
    z-index: 3;
  }

  &__preset-wrapper {
    margin-bottom: 25px;
  }

  &__control-wrapper {
    width: 100%;
    height: 60px;
    position: relative;

    &_type_floor {
      height: 222px;
      width: 222px;
      margin: 0 auto;
    }
  }


}

@media (max-width: 680px) {
  .device {
    &__wrapper {
      margin-bottom: 15px;
      height: 492px;
      padding: 20px 0 20px 20px;
      background-image: none;

      &_type_floor {
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
    }

    &__name {
      font-size: 18px;
      line-height: 21px;
    }

    &__state-text {
      font-size: 12px;
      line-height: 14px;
    }


    &__preset-wrapper {
      margin-bottom: 25px;
      overflow-x: scroll;
    }

    &__control-wrapper_type_light,
    &__control-wrapper_type_heat {
      font-size: 0;
      width: 336px;
      transform: rotate(-90deg) translate(-137px, -20px);
    }



    &__control-wrapper_type_floor {
      margin-top: 83px;
    }

    &__value {
      display: none;
    }

  }
}
