.devices {
  height: 141px;
  max-width: 1366px;
  overflow-x: hidden;
  margin-left: 3%;

  &__wrapper {
    transition: transform 0.3s;
    max-width: 1366px;
    padding-right: 3%;
    display: flex;
    justify-content: left;
    height: 141px;
  }


  &__item {
    margin-right: 15px;
  }
}

@media (max-width: 760px) {
  .devices {
    &__wrapper {
      overflow-x: scroll;
    }
  }
}

//@media (max-width: 500px) {
//  .devices {
//    &__wrapper {
//      overflow-x: scroll;
//    }
//  }
//}
