.filters-menu {
  margin-left: 13px;
  display: flex;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
}

@media (max-width: 660px) {
  .filters-menu {
    display: none;
    flex-direction: column;
    margin-left: auto;
    width: 114px;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 2px 6px 0 rgba(146, 141, 141, 0.5);
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1;


  }

  .filters-menu_state_visible {
    display: flex;
  }
}
