.header {
  border-bottom: 1px solid #F0F0F0;
  padding: 28px 0;

  &__wrapper {
    @include wrapper();
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__hamburger-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &_blur {
    filter: blur(6px);
  }
}
