.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
  z-index: 2;

  &__device-wrapper {
    width: 100%;
  }

  &__btn {
    width: 48.73%;
    height: 60px;
    background: #fff;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    line-height: 18px;
    text-align: center;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 -3px 5px rgba(102, 102, 102, 0.5);
    }

    &_type_apply {
      background: $yellow;
    }
  }

  &__content {
    display: block;
    width: 630px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: transform 0.5s, top 0.5s, left 0.5s, opacity 0.5s;
  }
}

.popup.popup_state_visible {
  visibility: visible;
}

.popup_state_visible .popup__content {
  transform: translate(-50%, -50%) scale(1);
  top: 50% !important;
  left: 50% !important;
  opacity: 1;
}

@media (max-width: 680px) {
  .popup {
    &__content {
      width: 334px;
      display: block;
    }

    &__btn {
      width: 100%;

      &_type_apply {
        margin-bottom: 15px;
      }
    }
  }
}
