.presets {
  display: flex;

  &__item {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__label {
    font: inherit;
    background-color: $btn-color;
    border-radius: 20px;
    padding: 8px 15px;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__item:checked + &__label {
    background-color: #FFD93E;
  }
}
