.presets {
  display: flex;

  &__item {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__label {
    font-size: 13px;
    line-height: 15px;
    background-color: $btn-color;
    border-radius: 20px;
    padding: 5px 13px 9px 14px;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__item:checked + &__label {
    background-color: $yellow;
  }
}
